body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(52, 52, 52);
}

h1{
    color: #fff;
}

.calculator{
    background-color: #fff;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
}

#display{
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border-radius: 6px;
    background-color: #f0f0;
    text-align: right;
    font-size: 20px;
    margin-bottom: 16pxp;
}

.boxbutton{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    gap: 10px;
}

button{
    border: 1px black solid;
    height: 60px;
    border-radius: 100px;
    font-size: 20px;
}

button:hover{
    background-color: rgb(154, 154, 154);
    cursor: pointer;
    transition: 170ms;
}

.btnzero{
    grid-column: 1 / 3;
}

.btnigual{
    grid-row: 4 / 6;
    height: 100%;
    grid-column: 4;
}


