@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d4ccbf;
    color: #798252;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
}

header{
   padding: 2rem;
   background-color: #331f19;
   text-align: center;
}

main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

section{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
}

h2{
    color: #331f19;
}

input[type="radio"], [type="checkbox"]{
    accent-color: #ccd595;
}

input[type="text"], [type="password"], [type="date"], [type="email"] {
    width: 100%;
    padding: 0.6rem;
    background-color: #d4ccbf;
    border: 2px solid #798252;
    outline: none;
    border-radius: 5px;
}

input::placeholder{
    color: #849516;
}

select{
    cursor: pointer;
    background-color: #ccd595;
    color:#331f19 ;
    border-radius: 10px;
}

img{
    width: 10rem;
}

details{
    background-color: #ccd595;
    border-radius: 5px;
    padding: 1rem;
}

summary{
    color: #331f19;
    margin: 0.5rem;
    cursor: pointer;
}

ol{
    margin-left: 1.5rem;
}

li{
    padding: 0.2rem;
}

fieldset{
    border: 2px solid #798252;
    border-radius: 5px;
    padding: 1rem;

}

legend{
    color: #331f19;
    padding: 0 0.5rem;
}

textarea{
    outline: none;
    border-radius: 5px;
    border: 2px solid #798252;
    background-color: transparent;
}

button{
    background-color: #ccd595;
    border: none;
    padding: 0.8rem;
    color: #331f19;
    border-radius: 5px;
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #ccd595;
    color: #331f19;
    padding: 1rem;
}

td{
    color: #331f19;
    padding: 1rem;
    text-align: center;
}

tfoot td{
    background-color: #331f19;
    color: #f4f0f4;
}

footer{
    background-color: #331f19;
    padding: 2rem;
    text-align: center;
}

.paragrafo.footer{
    color: #f4f0f4;

}

footer a{
    text-decoration: none;
    color: #849516;
}