body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(Imagens/fundo.panobianco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header{
    background-color: rgb(80, 80, 80);
    color: rgb(137, 99, 29);
    padding: 3px;
    border-radius: 0px 0px 10px 10px;
    border: 3px solid rgb(155, 103, 13);
    margin-bottom: 2rem;
}

div{
    background-color: rgba(176, 118, 10, 0.818);
    padding: 20px;
    gap: 20px;
    width: 250px;
    height: 195px;
    margin-left: 3rem;
    border-radius: 10px;
}

input{
    padding: 10px;
    background-color: rgba(183, 148, 83, 0.667);
    border-radius: 16px;
    border: 2px solid rgb(220, 164, 60);
    transition: 600ms;
}

button{
    gap: 3px;
    width: 9rem;
    margin-top: 16PX;
    border-radius: 30px;
    margin-left: 55px;
    color: white;
    background-color: rgba(238, 193, 48, 0.588);
    cursor: pointer;
    transition: 400ms;
}

p{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
    background-color: rgb(215, 122, 36);
    transform: scale(1.1);
}

::placeholder{
    color: rgb(255, 204, 168);
}

h2{
    color: rgb(255, 232, 189);
}

input:hover{
    transform: scale(1.1);
    color: rgba(183, 148, 83, 0.667);
    background-color: rgb(255, 191, 0);
}

.cadastro{
    color:  rgb(255, 232, 189);
    margin-top: -10px;
}