body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(Imagens/Mulher\ praticando\ agachamento\ na\ academia.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 5.5rem;
}

div{
    background-color: rgb(176, 118, 10);
    padding: 20px;
    gap: 20px;
    width: 300px;
    height: 195px;
    margin-left: 4rem;
    border-radius: 10px;
}

input{
    padding: 10px;
    background-color: rgba(183, 148, 83, 0.667);
    border-radius: 16px;
    border: none;
    transition: 600ms;
    width: 260px;
}

button{
    gap: 3px;
    width: 9rem;
    margin-top: 16PX;
    border-radius: 30px;
    margin-left: 76px;
    color: white;
    background-color: rgba(238, 193, 48, 0.588);
    cursor: pointer;
    transition: 400ms;
    border: none;
}

p{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
    background-color: rgb(215, 122, 36);
    transform: scale(1.1);
}

::placeholder{
    color: rgb(255, 204, 168);
}

h2{
    color: rgb(255, 232, 189);
}

input:hover{
    transform: scale(1.1);
    color: rgba(183, 148, 83, 0.667);
    background-color: rgb(255, 191, 0);
}

.cadastro{
    color:  rgb(255, 232, 189);
    margin-top: -10px;
}

.titulo{
    font-size: 1rem;
}