*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(80, 80, 80);
    color: rgb(137, 99, 29);
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
    border: 3px solid rgb(155, 103, 13);

}

main{
    height: 83.5vh;
    background-image: url(Imagens/fundo.panobianco.jpg);
    
}

div{
    background-color: brown;
   
    position: absolute;
    top: 25%;
    left: 4%;
    border-radius: 10px;
}