body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: gray;
}

.cad{
    color: aliceblue;
    padding: 80px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    : 6rem;
}

.des{
     color: aliceblue;
    padding: 40px;
    margin-top: 0;
    text-align: center ;
}

.tit{
    background-: url(Imagens/fundo.panobianco.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 300px;
    background-position: center;

}