@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(nubank-1920x1080.jpg);
    background-size: 100%;
    font-family: "rubik", sans-serif;
    font-weight: 400px;
}

main{
    background-color: rgb(255, 255, 255);
    width: 30rem;
    height: 40rem;
    border-radius: 10px;
    margin-top: 4rem;
    margin-left: 3rem;
}

main h1{
    font-size: 3rem;
    color: rgb(89, 51, 125);
    margin-bottom: 1.7rem;
}

p{
    font-size: 2rem;
    color: rgb(89, 51, 125);

    margin-left: 1rem;

    font-family: "Momo Trust Display", sans-serif;
}

input{
     width: 20rem;
     margin-left: 1rem;
    padding: 0.6rem;
    background-color: white;
    border: 2px solid rgb(89, 51, 125);
    outline: none;
    border-radius: 5px;
    margin-bottom: 3rem;
}

input::placeholder{
    color: rgb(89, 51, 125);
}

input[type="date"]{
    color: rgb(89, 51, 125);
}

button{
    background-color: rgb(89, 51, 125);
    border-radius: 60px;
    cursor: pointer;
    width: 16rem;
    height: 3rem;
    margin-left: 7rem;
    margin-top: -6rem;
    border: 0px;
}